<div class="container">
  <h2>
    All Boards
  </h2>
  <% @boards.each do |board| %>
    <%= render 'board',board: board %>
  <% end %>

  <%= link_to new_board_path do %>
    <div class="board_add">
      +Add new board
    </div>
  <% end %>
</div>