.article
  %h1.article_title= @board.title
  .article_detail
    = image_tag 'default-avatar.png'
    %div
      %p cohki0305
      %p 2020/4/16
  .article_content
    = @board.content
  .article_heart
    = image_tag 'heart.svg'
